h1{
    color: blue;
}


.allpostsbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}


.dashcard{
    width: 18rem;
    align-items: flex-end;
    height: 18rem;
    overflow: hidden;
    border-radius: 50%;
}

.dshimg{
    width: 100%;
}