<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}">PROF!</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <div class="dropdown">
          <li
            class="nav-link dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            User
          </li>
          <ul class="dropdown-menu">
            <li class="">
              <a class="dropdown-item" href="{{url_for('user')}}">Profile</a>
            </li>
            <li class="">
              <a class="dropdown-item" href="{{url_for('logout')}}">logout</a>
            </li>
            <li class="">
              <a class="dropdown-item" href="{{url_for('dashboard')}}"
                >Dashboard</a
              >
            </li>
          </ul>
        </div>

        {% if current_user.id == 1 %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('test_pw')}}">Test PW</a>
        </li>
        {% endif %} {% else %}
        <div class="dropdown">
          <li
            class="nav-link dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            User
          </li>

          <ul class="dropdown-menu">
            <li class="">
              <a class="dropdown-item" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="">
              <a class="dropdown-item" href="{{url_for('add_user')}}"
                >register</a
              >
            </li>
          </ul>
        </div>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_post')}}">Add Post</a>
        </li>
      </ul>
      <form class="d-flex" method="POST" action="{{url_for('search')}}">
        {{ form.hidden_tag() }}
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searched"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
