{% extends 'base.html' %} {% block body %}
<!-- ############################ message ################### -->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %}

<div class="shadow p-3 my-5 bg-body rounded">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h3>{{post.title}}</h3>
        <small>
          <p>ID: <span class="text-success">{{post.id}}</span></p>
          <p>By : <span class="text-success">{{post.poster.name}}</span></p>
          {% if post.poster.about_auther %}
          <p>
            about auther :
            <span class="text-success">{{post.poster.about_auther}}</span>
          </p>
          {% endif %}
          <p><span class="text-primary">{{post.content|safe}}</span></p></small
        >

        <br />
        <p>
          posted at : <span class="text-success">{{post.date_posted}}</span>
        </p>
        {% if post.poster_id == current_user.id %}
        <a
          href="{{url_for('edit_post',id=post.id)}}"
          class="btn btn-success btn-sm me-3"
          >edit post</a
        >
        <a
          href="{{url_for('delete_post',id=post.id)}}"
          class="btn btn-danger btn-sm me-3"
          >delete post</a
        >
        <a
          href="{{url_for('add_comment',id=post.id)}}"
          class="btn btn-primary btn-sm me-3"
          >add comment</a
        >
        {% endif %}
      </div>
      <div class="col-4">
        {% if post.post_pic %}
        <img
          class="onepostimg"
          src="{{url_for('static',filename='images/'+post.post_pic)}}"
          alt=""
          align="center"
          width="150px"
          height="300px"
        />

        {% else %}
        <img
          class="onepostimg"
          src="{{url_for('static',filename='images/profilepic.png')}}"
          alt=""
          align="center"
          width="150px"
          height="300px"
        />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<h3><strong> comments</strong></h3>
{% for comment in comments %}
<div class="p-3 my-5 bg-body rounded">
  <p>
    from: <span style="letter-spacing: 5px">{{comment.commenter.name}}</span>
  </p>
  <p>{{comment.content|safe}}</p>
  <p style="font-size: 11px">{{comment.date_posted}}</p>
</div>
{% endfor %}
<br />
<h1 style="text-align: center">
  <a href="{{url_for('posts')}}" class="btn btn-secondary btn-sm mb-5"
    >Back To All Posts</a
  >
</h1>
{% endblock %}
