{% extends 'base.html' %} {% block body %} {% for message in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% if email %}
<h1>form email: {{email}}</h1>
<h1>from pw: {{password}}</h1>
{% if user_to_check.email %}
<h1>------- i found this info --------</h1>
<h2>DB name : <span class="text-success">{{user_to_check.name}}</span></h2>
<h2>DB email : <span class="text-success">{{user_to_check.email}}</span></h2>
<h2>
  DB password :
  <span class="text-success">{{user_to_check.password_hashed}}</span>
</h2>
<h2>
  DB color : <span class="text-success">{{user_to_check.favourate_color}}</span>
</h2>
<h2>this password is valid : <span class="text-danger">{{passed}}</span></h2>
{% else %}
<h1>invalid email or password</h1>
{% endif %} {% else %}
<form method="POST" class="container w-50">
  {{form.hidden_tag()}} {{form.email.label(class="form-label my-4")}}
  {{form.email(class="form-control my-4")}}
  {{form.password.label(class="form-label my-4")}}
  {{form.password(class="form-control my-4")}}
  <br />
  {{form.submit(class="btn btn-secondary")}}
</form>
{% endif %} {% endblock %}
